asn1crypto==0.24.0
astroid==2.4.2
astropy==3.2
attrs==19.3.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
conda==4.3.31
cryptography==2.3
cycler==0.10.0
Cython==0.29.6
daal4py==2019.4
funcsigs==1.0.2
h5py==2.9.0
-e git+git@github.com:brykim/demo-pypi-package.git@870210ace7810986e05bf8c3f3d6c484135bc6e4#egg=helloworld
idna==2.6
importlib-metadata==1.7.0
iniconfig==1.0.1
isort==4.3.21
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
llvmlite==0.27.1+0.gf008359.dirty
lxml==4.3.4
matplotlib==3.0.3
mccabe==0.6.1
mkl-fft==1.0.11
mkl-random==1.0.2
mkl-service==1.0.0
more-itertools==8.4.0
mpi4py==3.0.0
nose==1.3.7
numba==0.42.1
numexpr==2.6.8
numpy==1.16.2
packaging==19.0
pandas==0.24.1+0.g1700680.dirty
pluggy==0.13.1
py==1.9.0
pycosat==0.6.3
pycparser==2.18
pyeditline==2.0.0
pylint==2.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==6.0.1
python-dateutil==2.6.0
pytz==2018.4
PyYAML==4.1
requests==2.20.1
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.15.0
SMP==0.1.4
TBB==0.1
toml==0.10.1
tornado==6.0.2
typed-ast==1.4.1
urllib3==1.24.1
virtualenv==16.6.0
wrapt==1.12.1
xgboost==0.81
zipp==3.1.0
